.page {
    min-height: 100vh;
    width: 100%;
    background: #0b0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.box {
    width: 100%;
    max-width: 1100px;
    background: #121212;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.8);
}

.title {
    color: #ffd400;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.input {
    flex: 1;
    min-width: 260px;
    padding: 16px 18px;
    font-size: 16px;
    border-radius: 14px;
    border: 2px solid #ffd400;
    background: #0b0b0b;
    color: #fff;
    outline: none;
}

.input::placeholder {
    color: #777;
}

.input:focus {
    border-color: #ffea70;
    box-shadow: 0 0 0 3px rgba(255, 212, 0, 0.2);
}

.button {
    padding: 16px 26px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #ffd400, #ffb800);
    color: #000;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.button:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(255, 212, 0, 0.35);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.error {
    margin-top: 20px;
    padding: 14px;
    border-radius: 12px;
    background: #f54646;
    color: #fff;
    font-size: 17px;
}

.resultBox {
    margin-top: 30px;
}

.textarea {
    width: 97%;
    background: #0b0b0b;
    color: #fff;
    border: 2px solid #ffd400;
    border-radius: 14px;
    padding: 18px;
    font-size: 14px;
    line-height: 1.7;
    resize: vertical;
}

.copyButton {
    margin-top: 15px;
    padding: 14px 22px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(135deg, #ffd400, #ffb800);
    color: #000;
    cursor: pointer;
    transition: background 0.2s ease;
}

.copyButton:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(255, 212, 0, 0.35);
}
.buttonGroup {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    margin-top: 12px;
}

.resetButton {
    margin-top: 15px;
    padding: 14px 22px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(135deg, #ffd400, #ffb800);
    color: #000;
    cursor: pointer;
    transition: background 0.2s ease;
}

.resetButton:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(255, 212, 0, 0.35);
}
